body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

form{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 75%;
    margin: 10px auto;
    height: 100 vw;
    border: 3.5px dashed rgb(198, 219, 4);
    border-radius: 20px;
}
div {
    padding: 15px 0;
}
button {
    padding: 20px;
    margin: 10px auto;
}
